.imgPortada{
    background-image: url(/images/general/tv.jpg);
    background-size: cover;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}




