body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  color: white;
}
.bg-dark-transparent{
  background-color: rgba(43, 43, 43, 0.71);
}
.bg-black{
  background-color: black;
}


.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}
